<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/listings']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-content>
    <p><strong>Item:</strong> {{itemName}}</p>
    <p><strong>Vendor:</strong> {{vendorName}}</p>
    <p><strong>Shipping Cost:</strong> {{listing.ship}}</p>
    <p><strong>Price:</strong> {{listing.price}}</p>
    <p><strong>Item Quantity:</strong> {{listing.quantity}}</p>
    <p><strong>Tax on Sale:</strong> {{listing.tax}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/listings-edit', listing.key]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-fab class="delete" color="warn" (click)="deleteListing(listing.key)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>