<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/sellers']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card mat-elevation-z8">
  <mat-card-content>
    <p><strong>Name:</strong> {{seller.name}}</p>
    <p><strong>Email:</strong> {{seller.email}}</p>
    <p><strong>Phone Number:</strong> {{seller.phone}}</p>
    <p><strong>Address:</strong> {{seller.address}}</p>
    <p><strong>City:</strong> {{seller.city}}</p>
    <p><strong>State:</strong> {{seller.state}}</p>
    <p><strong>Zip Code:</strong> {{seller.zip}}</p>
    <p><strong>Rating:</strong> {{seller.rating}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/sellers-edit', seller.key]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-fab class="delete" color="warn" (click)="deleteSeller(seller.key)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>