<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/items-create']">
    <mat-icon>add</mat-icon>
  </a>
  <h1 class="table-title">Items</h1>
  <a mat-fab class="back" color="primary" [routerLink]="['/main']">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</div>
<mat-form-field class="filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!-- Description Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element" class="title-col"> {{element.desc}} </td>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef> Buy Price </th>
      <td mat-cell *matCellDef="let element"> {{element.buy}} </td>
    </ng-container>

    <!-- Sell Column -->
    <ng-container matColumnDef="sell">
      <th mat-header-cell *matHeaderCellDef> Sell Price </th>
      <td mat-cell *matCellDef="let element"> {{element.sell}} </td>
    </ng-container>

    <!-- Quantity on Hand Column -->
    <ng-container matColumnDef="qoh">
      <th mat-header-cell *matHeaderCellDef> QOH </th>
      <td mat-cell *matCellDef="let element"> {{element.qoh}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/items-details/', row.key]"></tr>
  </table>
</div>