<div class="container">
  <div class="button-row">
    <a mat-fab class="add" color="primary" [routerLink]="['/sellers-create']">
      <mat-icon>add</mat-icon>
    </a>
    <h1>Sellers</h1>
    <a mat-fab class="back" color="primary" [routerLink]="['/main']">
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
  </div>
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" class="title-col"> {{element.name}} </td>
      </ng-container>

      <!-- Email Address Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email Address </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Phone Number Column
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/sellers-details/', row.key]"></tr>
    </table>
  </div>
</div>