/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

.example-card {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
}

.example-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 0px;
  margin: 10px 10px;
  width: calc(100%-20px);
}

.title-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

#help {
  margin: 0 10px;
}