<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/listings']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="listingsForm" (ngSubmit)="onFormSubmit(listingsForm.value)">
  <mat-form-field class="example-full-width">
    <mat-select formControlName="itemId" placeholder="Item">
      <mat-option *ngFor="let item of items" value="{{item.key}}">{{item.desc}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select formControlName="vendorId" placeholder="Vendor">
      <mat-option *ngFor="let vendor of vendors" value="{{vendor.key}}">{{vendor.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Shipping Cost" formControlName="ship" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!listingsForm.get('ship').valid && listingsForm.get('ship').touched">Please enter the listing's
        shipping cost</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Listed Price" formControlName="price" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!listingsForm.get('price').valid && listingsForm.get('price').touched">Please enter the listing's
        listed price</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Item Quantity" formControlName="quantity" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!listingsForm.get('quantity').valid && listingsForm.get('quantity').touched">Please enter the
        listing's item quantity</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tax on Sale" formControlName="tax" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!listingsForm.get('tax').valid && listingsForm.get('tax').touched">Please enter the listing's tax</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!listingsForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>